<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hackathon</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">

    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/css/aos.css">

    <link rel="stylesheet" href="/stylesheets/css/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />
    <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
  </head>
  <body>
    <style>
    .dropdown-menu a:hover{background-color:  #d1e0e0;}
    </style>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item  row no-gutters d-flex align-items-start align-items-center px-3 px-md-0"><a class="navbar-brand" href="/">Hospital<span>finder</span></a></li>
              <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
              </ul>
          </div>

            <!-- <form action="/" method="GET" class="form-inline" id="myform">
              <div id="location"> 
                <input type="hidden" name="latitude" class="form-control-1" value="none">
                <input type="hidden" name="longitude" class="form-control-2" value="none">
                <input type="hidden" value="Search" class="btn btn-default">
                <div>
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Specialist</button>
                      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <label><input type="checkbox"   value= "Public" name="public"> Public</label><br>
                        <label><input type="checkbox"  value= "Private" name="private"> Private</label><br>
                      </div>
                      </ul>
                </div>
                        <button  onclick="getLocation()" class="btn btn-secondary btn-lg" id="advance">Search</button>
                </div>
              </div>
            </form> -->
          <!-- <p id="demo"></p>
          <p id="demo2"></p>
  <script>
      var x = document.getElementById("demo");
      var y = document.getElementById("demo2");
      function getLocation() {
      if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
      }
      }
      function showPosition(position) {
      var a=  position.coords.latitude;
      var b=  position.coords.longitude;
      document.getElementsByClassName("form-control-1")[0].setAttribute("value", a);  
      document.getElementsByClassName("form-control-2")[0].setAttribute("value", b);         
      document.forms["myform"].submit(); 
      }
</script>
  -->
  
</div>
</nav>
  



    <section class="hero-wrap hero-wrap-2" style="background-image: url('stylesheets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Helping your Stay Happy one</h1>
          </div>
        </div>
      </div>
    </section>
  
        <section class="ftco-section ftco-no-pt ftco-no-pb  ">
              
              <div class="row d-flex align-items-stretch no-gutters" style="background-color:#FF8800">
                <div class="col-lg-3 order-md-last ">
                        
                        <button class="btn btn-block btn-secondary btn-lg " onclick="getLocation()">Hospital Near me!</button>
                </div>
                
                
                
                <div class="col-lg-3 order-md-last ">
                <form class="form-inline" action="/" method="GET" id="myform" >
                  <input class="p-1" type="text" placeholder="Enter name of hospital" aria-label="Search" value="" name="Name">
                      <button onclick="getLocation()" class="btn btn-secondary btn-lg"><i class="fa fa-search"></i></button>
                </div>
                      <div id="location"> 
                      <input type="hidden" name="latitude" class="form-control-1" value="none">
                      <input type="hidden" name="longitude" class="form-control-2" value="none">
                      <input type="hidden" value="Search" class="btn btn-default">
                      </div>
                      <div class="col-lg-2 order-md-last ">
                      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                       <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                        </button>
                      
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <label><input type="checkbox" value="Public" name="public"> Public</label><br>
                          <label><input type="checkbox" value="Private" name="private"> Private</label><br>
                          <label><input type="checkbox" value="Available" name="bloodbank"> Blood Bank</label><br>

                        </ul>
                        </div>
                  </div>
                </div>
                <div class="col-md-2 order-md-last ">
            <button  onclick="getLocation()" type="submit" value="submit" class="btn btn-secondary btn-lg" id="advance">Search</button>
          </div>
        </form>  
        

        <p id="demo"></p>
        <p id="demo2"></p>
<script>
    var x = document.getElementById("demo");
    var y = document.getElementById("demo2");
    function getLocation() {
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
    } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
    }
    }
    function showPosition(position) {
    var a=  position.coords.latitude;
    var b=  position.coords.longitude;
    document.getElementsByClassName("form-control-1")[0].setAttribute("value", a);  
    document.getElementsByClassName("form-control-2")[0].setAttribute("value", b);         
    document.forms["myform"].submit(); 
    }
</script>
  
<!--   
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script type="text/javascript">
                $(document).ready(function() {
                $("#advance").click(function(){
                  var favorite = [];
                  $.each($("input[name='specialist']:checked"), function(){
                      favorite.push($(this).val());
                  });
                  alert("My favourite sports are: " + favorite.join(", "));
                });
                });
                </script> -->
  
                <div class="col-md-1 order-md-last">
                        <button class="btn btn-block btn-secondary btn-lg " ><a style="color:white"href="/map">Map</a> </button>
                </div>
                
            </div>
          </section>
    <section class="ftco-services ftco-no-pb">
      <div class="container jumbotron border border-primary">
        <div class="row no-gutters">
        <% hospitals.forEach(function(hospital){ %>
          <div class="inline-block d-flex services p-3 mb-2 rounded">
            
                <div class="media-body p-1 mt-1">
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="card">
                        <div class="card-body">
                            <img src="https://img.icons8.com/wired/64/000000/employee-card.png" class="float-left mr-1" > 
                            <h3 class="heading text-primary ">Name: </h3>
                            <h6 class="heading text-dark"><%= hospital.name %></h6>
                        </div>
                      </div>
                        
                        
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                          <div class="card-body">
                              <img src="https://img.icons8.com/color/48/000000/phone.png" class="float-left" >
                              <h3 class="heading text-primary">Address</h3>
                              <h6 class="heading text-dark"><%= hospital.address %></h6>
                          </div>
                        </div>
                          
                          
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="card">
                            <div class="card-body">
                                <img src="https://img.icons8.com/plasticine/64/000000/domain.png" class="float-left">
                                <h3 class="heading text-primary">Website: </h3>
                                <h6 class="heading text-dark"><a href="<%= hospital.address %>"><%= hospital.website %></a></h6>
                            </div>
                          </div>
                            
                            
                        </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="/<%= hospital._id %>" class="btn btn-secondary btn-lg m-4">Details</a>
                    </div>
                  </div>
                   
                </div>
              </div>
      <% }) %>
        </div>
      </div>
      
    </section>

    <section id="about" class="ftco-section ftco-no-pt">
            <div class="container">
              <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                  <span class="subheading">Coders</span>
                  <h2 class="mb-4">Our Team</h2>
                  <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                      <div class="img align-self-stretch" style="background-image: url(stylesheets/images/Rahul.png);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                      <h3>Rahul Trivedi</h3>
                      <span class="position mb-2">Front-END</span>
                      <div class="faded">
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                      <div class="img align-self-stretch" style="background-image: url(stylesheets/images/Ravi.jpg);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                      <h3>Ravindra Jain</h3>
                      <span class="position mb-2">Front-END</span>
                      <div class="faded">
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                      <div class="img align-self-stretch" style="background-image: url(stylesheets/images/Robin.jpg);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                      <h3>Robin Rodrigues</h3>
                      <span class="position mb-2">Back-End</span>
                      <div class="faded">
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                      <div class="img align-self-stretch" style="background-image: url(stylesheets/images/Rushikesh.png);"></div>
                    </div>
                    <div class="text pt-3 text-center">
                      <h3>Rushikesh Shinde</h3>
                      <span class="position mb-2">Back-END</span>
                      <div class="faded">
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <footer class="ftco-footer ftco-bg-dark ftco-section fixed-bottom" >
          <div class="container">
            <div class="row mb-1">
              <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="ftco-footer-widget mb-1">
                  <h2 class="ftco-heading-2 logo">Hospital<span>finder</span></h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                </div>

              </div>
              <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="ftco-footer-widget mb-1">
                  <h2 class="ftco-heading-2">Have a Questions?</h2>
                  <div class="block-23 mb-1">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                    </ul>
                  </div>

                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-1">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                  </ul>
                </div>

              </div>

              </div>
            </div>
            <div class="row mb-0">
              <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              </div>
            </div>
          </div>
        </footer>
        
        <!-- <% var latitude = 19 %>
        <% var longitude = 78%> -->
        
        
    <script src="/stylesheets/js/jquery.min.js"></script>
    <script src="/stylesheets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/stylesheets/js/popper.min.js"></script>
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <script src="/stylesheets/js/jquery.easing.1.3.js"></script>
    <script src="/stylesheets/js/jquery.waypoints.min.js"></script>
    <script src="/stylesheets/js/jquery.stellar.min.js"></script>
    <script src="/stylesheets/js/owl.carousel.min.js"></script>
    <script src="/stylesheets/js/jquery.magnific-popup.min.js"></script>
    <script src="/stylesheets/js/aos.js"></script>
    <script src="/stylesheets/js/jquery.animateNumber.min.js"></script>
    <script src="/stylesheets/js/bootstrap-datepicker.js"></script>
    <script src="/stylesheets/js/jquery.timepicker.min.js"></script>
    <script src="/stylesheets/js/scrollax.min.js"></script>
    <script src="/stylesheets/js/google-map.js"></script>
    <script src="/stylesheets/js/main.js"></script>



    </html>