<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hackathon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">

    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/css/aos.css">

    <link rel="stylesheet" href="/stylesheets/css/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />
    <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
  </head>
  <body>
    <style>
    .dropdown-menu a:hover{background-color:  #d1e0e0;}
    </style>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

    <nav class="navbar navbar-expand-lg" id="ftco-navbar">
      <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <p class="button-custom order-lg-last mb-0"><a href="appointment.html" class="btn btn-secondary">Make An Appointment</a></p>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  row no-gutters d-flex align-items-start align-items-center px-3 px-md-0"><a class="navbar-brand" href="hospital.html">Hospital<span>finder</span></a></li>
            <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('stylesheets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Helping your Stay Happy one</h1>
          </div>
        </div>
      </div>
    </section>


    <section >
          <div class="overlay"></div>
          <div class="container mb-5">
          <div class="row d-flex align-items-stretch no-gutters" >
            <div class="col-lg-4 p-4 p-md-5 order-md-last ">
                    <button class="btn btn-block btn-secondary " onclick="getLocation()">Hospital Near me!</button>
            </div>
            <div class="col-lg-6 p-4 p-md-5 order-md-last " >

              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">


        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Advance Search
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <label><input type="checkbox" value="football" name="specialist"> Football</label><br>
            <label><input type="checkbox" value="baseball" name="specialist"> Baseball</label><br>
            <label><input type="checkbox" value="cricket" name="specialist"> Cricket</label><br>
            <label><input type="checkbox" value="boxing" name="specialist"> Boxing</label><br>
            <label><input type="checkbox" value="racing" name="specialist"> Racing</label><br>
            <label><input type="checkbox" value="swimming" name="specialist"> Swimming</label>
          </ul>
        </div>
        <button type="button" class="btn btn-secondary" id="advance">Get Values</button>

        </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
        $("#advance").click(function(){
          var favorite = [];
          $.each($("input[name='specialist']:checked"), function(){
              favorite.push($(this).val());
          });
          alert("My favourite sports are: " + favorite.join(", "));
        });
        });</script>
    </div>
      <div class="col-lg-2 p-4 p-md-5 order-md-last ">
       <button class="btn btn-block btn-secondary" onclick="getLocation()">Map</button>
   </div>
  </div>
  </div>
  </section>




    <section class="ftco-services ftco-no-pb">
      <div class="container jumbotron border border-primary">
        <div class="row no-gutters">
          <% hospitals.forEach(function(hospital){ %>
          <div class="inline-block d-flex services align-self-stretch p-4 ">
            <div class="media block-6 d-block text-left">
              <div class="media-body p-2 mt-3">
                <h3 class="heading"><%= hospital.name %></h3><p></p>
                <h3 class="heading"><%= hospital.address %></h3><p></p>
                <h3 class="heading"><%= hospital.state %></h3><p></p>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%=hospital._id%>">Details</button>
              </div>
            </div>
            <div class="modal fade" id="myModal<%=hospital._id%>" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
                        <div class="container">
                        <div class="row d-flex align-items-stretch no-gutters">
                          <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                          <h6 class="text-primary"><%=hospital.name%></h6>
                          <p>Hospital_category:<span class="text-primary"><%=hospital.category%></span></p>
                          
                          <p>Pincode<span class="text-primary"><%=hospital.pincode%></span></p>
                          </div>
                          <div class="col-md-6 d-flex align-items-stretch">
                          <div id="map"></div>
                          </div>
                        </div>
            
                        <div class="row mt-5 pt-2">
                          <div class="col-lg-6">
                            <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                            <div class="text">
                              <p>Address: <span class="text-primary"><%=hospital.address%></span></p>
                              <p>State: <span class="text-primary"><%=hospital.state%></span></p>
                            </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                            <div class="text">
                        
                              <p>Specialties: <span class="text-primary"><%=hospital.specialities[0]%></span></p>
                            </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                            <div class="text">
                              <p>Phone: <span class="text-primary"><%=hospital.telephone%></span></p>
                            </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                            <div class="text">
                              <p>Website:<a style="width:50px;"                           
                              href="<%=hospital.website%>">
                              <pre><%=hospital.website%></pre></a></p>
                            </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </section>
            
                     </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
          
        </div>
      </div>
      
    </section>

    

        <footer class="ftco-footer ftco-bg-dark ftco-section fixed-bottom" >
          <div class="container">
            <div class="row mb-1">
              <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="ftco-footer-widget mb-1">
                  <h2 class="ftco-heading-2 logo">Hospital<span>finder</span></h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                </div>

              </div>
              <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="ftco-footer-widget mb-1">
                	<h2 class="ftco-heading-2">Have a Questions?</h2>
                	<div class="block-23 mb-1">
    	              <ul>
    	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
    	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
    	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
    	              </ul>
    	            </div>

    	            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-1">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                  </ul>
                </div>

              </div>

              </div>
            </div>
            <div class="row mb-0">
              <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              </div>
            </div>
          </div>
        </footer>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiYXZlbmdlcnJhdmkiLCJhIjoiY2sxMW00dGNhMDQxMzNsbWpxb2R4cXpxZSJ9.ZuAlqJdRpC8oE96hiO59BQ';
          var map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/streets-v11',
              center: [-87.6244, 41.8756],
              zoom: 13
          });

          var customData = {
              "features": [
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Lincoln Park",
                          "description": "A northside park that is home to the Lincoln Park Zoo"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.637596,
                              41.940403
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Burnham Park",
                          "description": "A lakefront park on Chicago's south side"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.603735,
                              41.829985
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Millennium Park",
                          "description": "A downtown park known for its art installations and unique architecture"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.622554,
                              41.882534
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Grant Park",
                          "description": "A downtown park that is the site of many of Chicago's favorite festivals and events"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.619185,
                              41.876367
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Humboldt Park",
                          "description": "A large park on Chicago's northwest side"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.70199,
                              41.905423
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Douglas Park",
                          "description": "A large park near in Chicago's North Lawndale neighborhood"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.699329,
                              41.860092
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Calumet Park",
                          "description": "A park on the Illinois-Indiana border featuring a historic fieldhouse"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.530221,
                              41.715515
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Jackson Park",
                          "description": "A lakeside park that was the site of the 1893 World's Fair"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.580389,
                              41.783185
                          ],
                          "type": "Point"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "title": "Columbus Park",
                          "description": "A large park in Chicago's Austin neighborhood"
                      },
                      "geometry": {
                          "coordinates": [
                              -87.769775,
                              41.873683
                          ],
                          "type": "Point"
                      }
                  }
              ],
              "type": "FeatureCollection"
          };

          function forwardGeocoder(query) {
              var matchingFeatures = [];
              for (var i = 0; i < customData.features.length; i++) {
                  var feature = customData.features[i];
                  // handle queries with different capitalization than the source data by calling toLowerCase()
                  if (feature.properties.title.toLowerCase().search(query.toLowerCase()) !== -1) {
                      // add a tree emoji as a prefix for custom data results
                      // using carmen geojson format: https://github.com/mapbox/carmen/blob/master/carmen-geojson.md
                      feature['place_name'] = '🌲 ' + feature.properties.title;
                      feature['center'] = feature.geometry.coordinates;
                      feature['place_type'] = ['park'];
                      matchingFeatures.push(feature);
                  }
              }
              return matchingFeatures;
          }

          map.addControl(new MapboxGeocoder({
              accessToken: mapboxgl.accessToken,
              localGeocoder: forwardGeocoder,
              zoom: 14,
              placeholder: "Enter search e.g. Lincoln Park",
              mapboxgl: mapboxgl
          }));
</script>
        
    <script src="/stylesheets/js/jquery.min.js"></script>
    <script src="/stylesheets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/stylesheets/js/popper.min.js"></script>
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <script src="/stylesheets/js/jquery.easing.1.3.js"></script>
    <script src="/stylesheets/js/jquery.waypoints.min.js"></script>
    <script src="/stylesheets/js/jquery.stellar.min.js"></script>
    <script src="/stylesheets/js/owl.carousel.min.js"></script>
    <script src="/stylesheets/js/jquery.magnific-popup.min.js"></script>
    <script src="/stylesheets/js/aos.js"></script>
    <script src="/stylesheets/js/jquery.animateNumber.min.js"></script>
    <script src="/stylesheets/js/bootstrap-datepicker.js"></script>
    <script src="/stylesheets/js/jquery.timepicker.min.js"></script>
    <script src="/stylesheets/js/scrollax.min.js"></script>
    <script src="/stylesheets/js/google-map.js"></script>
    <script src="/stylesheets/js/main.js"></script>



    </html>
