<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hackathon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">

    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/css/aos.css">

    <link rel="stylesheet" href="/stylesheets/css/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />
    <style>
    body { margin:0; padding:0; }
    #map { position:absolute; padding: 0px; top:0; bottom:0; width:100%; height: 400px; }
  </style>
  </head>
  <body>
    <style>
    .dropdown-menu a:hover{background-color:  #d1e0e0;}
    </style>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />

    <nav class="navbar navbar-expand-lg" id="ftco-navbar">
      <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  row no-gutters d-flex align-items-start align-items-center px-3 px-md-0"><a class="navbar-brand" href="/">Hospital<span>finder</span></a></li>
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/" class="nav-link">About</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <div id="row">
    <div class="col-lg-6 col-md-6 "><div id='map'></div></div>
    
        <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicm9kcm9iIiwiYSI6ImNrMTBnZ2NyaTA1bGUzYnZ6c2V2ZmR5OXQifQ.K3DQfl7-XhSHY-Izq6z9VA';
        var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: ["<%=hospital.location.coordinates[0]%>","<%=hospital.location.coordinates[1]%>"], // starting position [lng, lat]
        zoom: 10 // starting zoom
        });
        var marker = new mapboxgl.Marker({
            draggable: true
            })
            .setLngLat(["<%=hospital.location.coordinates[0]%>", "<%=hospital.location.coordinates[1]%>"])
            .addTo(map);
            
            function onDragEnd() {
            var lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML = 'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
        }
        marker.on('dragend', onDragEnd);</script>
    </div>
    <div class="col-lg-6 col-md-6 p-4 p-md-5 order-md-last float-right mr-4 " style="height:400px">
        <h1 class="text-primary"><%=hospital.address%></h1>
        <p>Hospital_category:<span class="text-primary"><%=hospital.category%></span></p>
        <p>Pincode: <span class="text-primary"><%=hospital.pincode%></span></p>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
        <div id="map"></div>
        </div> 

    <div class="container row ml-4"> 

        <div class="row mt-5 pt-2">
            <div class="col-lg-6">
              <div class="services-2 d-flex">
              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
              <div class="text">
                <p>Address: <span class="text-primary"><%=hospital.address%></span></p>
                <p>State: <span class="text-primary"><%=hospital.state%></span></p>
              </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
              <div class="text">
          
                <p>specialties: <span class="text-primary"><%=hospital.specialties%></span></p>
              </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
              <div class="text">
                <p>Phone: <span class="text-primary"><%=hospital.telephone%></span></p>
              </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
              <div class="text">
                <p>Website:<a style="width:50px;"                           
                href="<%=hospital.website%>">
                <pre><%=hospital.website%></pre></a></p>
              </div>
              </div>
            
                 
                  <div style="align-content: flex-start;" class="text">
                    <strong><a href="https://www.google.com/maps/dir//19.27013,72.87047">Get directions</a></strong>
                  </div>
               
            
            </div>
    </div>

        
        <!-- <% var latitude = 19 %>
        <% var longitude = 78%> -->
        
        
    <script src="/stylesheets/js/jquery.min.js"></script>
    <script src="/stylesheets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/stylesheets/js/popper.min.js"></script>
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <script src="/stylesheets/js/jquery.easing.1.3.js"></script>
    <script src="/stylesheets/js/jquery.waypoints.min.js"></script>
    <script src="/stylesheets/js/jquery.stellar.min.js"></script>
    <script src="/stylesheets/js/owl.carousel.min.js"></script>
    <script src="/stylesheets/js/jquery.magnific-popup.min.js"></script>
    <script src="/stylesheets/js/aos.js"></script>
    <script src="/stylesheets/js/jquery.animateNumber.min.js"></script>
    <script src="/stylesheets/js/bootstrap-datepicker.js"></script>
    <script src="/stylesheets/js/jquery.timepicker.min.js"></script>
    <script src="/stylesheets/js/scrollax.min.js"></script>
    <script src="/stylesheets/js/google-map.js"></script>
    <script src="/stylesheets/js/main.js"></script>
    </html>